h1, button {
    margin:5% auto;
}

body {
    display: flex;
    flex-direction: row;
}

.img_ilon
{
width: 250px;
height: 250px;
background-color: #fff;
background-image: url('./img/ilon1.png');
}
.button_ilon
{
width: 260px;
height: 260px;
background-color: #fff;
overflow: hidden; 
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
align-content: stretch;
}
span
{
font-size: 15px;
font-weight: bold;
}
.h_text
{
position: relative;
top:-90%;
left: 0%;
visibility: hidden;
opacity: 0;
}
.f_text
{
position: relative;
top:-100%;
left: -20%;
visibility: hidden;
opacity: 0;
}


.button_ilon:hover .h_text 
{
visibility: visible; 
opacity: 1; 
}
.button_ilon:hover .img_ilon
{
background-image: url('./img/ilon2.png');
transition: all 1s ease; 
}


.button_ilon:focus .h_text
{
visibility: hidden;
}
.button_ilon:focus .f_text
{
visibility: visible;
opacity: 1;
}
.button_ilon:focus .img_ilon
{
background-image: url('./img/ilon3.png');
transform: translate(300px,-300px);
transition: transform 8s linear .1s, filter 2s linear .5s;
filter: sepia(80%);
}