h1, button {
    margin:5% auto;
}

.img_ilon
{
width: 250px;
height: 250px;
background-color: #fff;
background-image: url('./img/ilon1.png');
}
.button_ilon
{
width: 260px;
height: 260px;
background-color: #fff;
overflow: hidden; /* Отображается только область внутри элемента, остальное будет скрыто */
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
align-content: stretch;
}
span
{
font-size: 15px;
font-weight: bold;
}
.hover_text
{
position: relative;
top:-90%;
left: 0%;
visibility: hidden;
opacity: 0;
}
.focus_text
{
position: relative;
top:-15%;
left: 12%;
visibility: hidden;
opacity: 0;
}


.button_ilon:hover .hover_text /*псевдокласс hover - при наведении, active - при удержании, focus - при клике будет удерживаться свойство*/
{
visibility: visible; /* Отображается элемент как видимый */
opacity: 1; /* прозрачность: 1 - не, 0 - прозрачный */
}
.button_ilon:hover .img_ilon
{
background-image: url('./img/ilon2.png');
transition: all 1s ease; /* скорость смены hover при наведении */
}


.button_ilon:focus .hover_text
{
visibility: hidden;
}
.button_ilon:focus .focus_text
{
visibility: visible;
opacity: 1;
}
.button_ilon:focus .img_ilon
{
background-image: url('./img/ilon3.png');
transform: translate(300px,-100px);
-webkit-transform: translate(300px,-300px);
-o-transform: translate(300px,-300px);
-moz-transform: translate(300px,-300px);
transition: transform 6s ease 1s, filter 4s ease .5s;
filter: sepia(100%);
}