* {
    box-sizing: border-box; /* задает другой алгоритм расчета ширины и высоты элементов */
}


/* logo */

.pac {
    width: 0; 
    height: 0;
    margin-top: -20px;
    margin-bottom: -14px;
    border-right: 20px solid transparent;
    border-top: 20px solid #426eff;
    border-left: 20px solid #426eff;
    border-bottom: 20px solid #426eff;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    transform: rotate(225deg);
}

.logo-word {
    margin-left: 45px;
    color: silver;
    font-size: xx-large;
}

.man {
    width: 0; 
    height: 0;
    margin-left: 30px;
    border-right: 20px solid transparent;
    border-top: 20px solid #F4B915;
    border-left: 20px solid #F4B915;
    border-bottom: 20px solid #F4B915;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: rotate(45deg);
}

.logo:hover .pac{
    transform: rotate(135deg);
    transition: transform 1s linear;
}

.logo:hover .man{
    transform: rotate(-45deg);
    transition: transform 1s linear;
}

/* main */

body {
    background-color: #20202D; /* цвет фона   */
    margin: 0; /* отступ */
    color: #fff; /* цвет текста сайта  */
    font-family: 'Roboto', sans-serif; /* шрифт текста сайта  */
} 

.container {
    width: 90%; /* отступы от шириныы экрана при сжатии */
    max-width: 945px; /* макс. ширина */
    margin: auto; /* отступы, авто слеваа и справа - по середине, и весь контент внутри тоже будет по середине всегда */

}

/* header*/

.hero {
    padding-top: 50px; /* внутренний(толкание внутреннго контента) отступ сверху от границ родителя до содержимого */
    padding-bottom: 200px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
} 

.hero-header {
    display: flex;
    justify-content: space-between; /* выравниваниие */
    align-items: center; /* выравнивание по вертикали */
    margin-bottom: 70px; /* внешний отступ от других блоков в этом же контейнере */
}

.menu-item {
    text-decoration: none; /* убираем эффекты текста */
    color: #fff!important;
    margin: 0 20px;
}

.social-link {
    margin-left: 10px; /* внешн ие отступы (самих элементов) между иконками */
}

.social-link:first-child { /* обращение к первому элементу */
    margin-left: 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-subtitle {
    display: inline-block; /* чтобы сработал отступ */
    font-size: 24px; /* размер шрифта */
    line-height: 28px; /* высотка строки */
    color: #FFBB01;
    margin-bottom: 14px;
}

.hero-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0px; /* отключаем отступы сверху */
    margin-bottom: 20px;
}

.hero-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
}

.hero-avatar {
    width: 389px;
    height: 389px; 
    background-color: #fff;
    border-radius: 50%;
    background-image: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* масштабируем */
    background-position: center top -40px; /* сдвигаем */
    border: 11px solid #fff; 
}

/* features */



.features {
    background-color: #000;
}

.features-block {
    display: flex ;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}

.features-item {
    flex-basis: 49%; /* расстояние между блоками флекса */
}

.section-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
}

.tablet {
    display: inline-block; /* перенос на след строку */
    background:darkslategrey;
    color: #fff;
    padding: 10px 20px; /* отступы текста внутри */
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 10px;
}


.card-column {
    box-sizing: content-box; /* ???? */
    background:darkslategrey;
    border-radius: 4px;
    padding: 1px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 350px; /* растягивание слайдов на всю ширину */
    flex: 1 1 auto; /* растягивание слайдов на всю ширину */
}

.card-span-title {
    text-transform: uppercase;
    font-weight: bold; 
    color: #FFBB01;
}


/* footer */

.contacts-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-form {
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D; /* тень */
    border-radius: 5px;
    max-width: 380px;
    padding-top: 40px;
    padding-left: 100px; 
    padding-right: 100px;
    padding-bottom: 49px;
    margin-top: 40px;
    text-align: center ;
}

.button {
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border: none;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 42px; /* сверху-снизу, слева-справа */
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold; /* жирность текста */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.form-title {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    margin-bottom: 29px;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 42px;
}

.contacts-phone, .contacts-mail {
    flex-basis: 50%;
    /* margin-bottom: 30px; */
}

.contacts-social {
    flex-basis: 100%; /* растягиваем на всю ширину блока */
}
 
.contacts-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}

.contacts-link {
    text-decoration: none;
    color: inherit;
}

.contacts-link:hover {
    text-decoration: underline; /* подчеркивание */
}

/* slider */

.section {
    padding-top: 64px;
    padding-bottom: 92px;
}

.projects {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.projects-slide {
    display: flex;
    align-items: center;
}

.project-link-inner {
    text-decoration: none;
    color: inherit;
}

.project-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.projects-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-bullet { 
    /* иконки для переключения */
    width: 10px;
    height: 10px;
    border: 2px solid #FFBB01;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.projects-bullet-active {
    background-color: #FFBB01;
}

/* responsive */

@media (max-width: 460px){
    .pac {
        width: 0; 
        height: 0;
        margin-top: -20px;
        margin-bottom: -10px;
        border-right: 15px solid transparent;
        border-top: 15px solid #426eff;
        border-left: 15px solid #426eff;
        border-bottom: 15px solid #426eff;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        transform: rotate(225deg);
    }
    
    .logo-word {
        margin-left: 35px;
        color: silver;
        font-size: x-large;
    }
    
    .man {
        width: 0; 
        height: 0;
        margin-left: 23px;
        border-right: 15px solid transparent;
        border-top: 15px solid #F4B915;
        border-left: 15px solid #F4B915;
        border-bottom: 15px solid #F4B915;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transform: rotate(45deg);
    }

    .social-links {
        display: flex;
    }
}

@media (max-width: 870px) {
    .text-header {
        text-align: left;
    }

    .social-link {
        margin-left: 5px; /* внешн ие отступы (самих элементов) между иконками */
    }

    .menu-items {
        display: flex;
        flex-direction: column;
    }

    .hero-content{
        flex-direction: column;
    }

    .hero-avatar {
        width: 250px;
        height: 250px; 
        background-color: #fff;
        border-radius: 50%;
        background-image: url('../img/avatar.jpg');
        background-repeat: no-repeat;
        background-size: cover; /* масштабируем */
        background-position: center top -20px; /* сдвигаем */
        border: 8px solid #fff; 
    }

    .hero-header {
        display: flex;
        flex-direction: revert;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .hero-text{
        order: 1;
        text-align: center;
        margin-top: 50px;
    }

    .contacts-block {
        align-items: center;
        flex-direction: column;
    }

    .features-item {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .hero {
        padding-top: 50px; /* внутренний(толкание внутреннго контента) отступ сверху от границ родителя до содержимого */
        padding-bottom: 100px;
        background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
    } 

}

