.container {
    width: 90%;
    max-width: 945px;
    margin: auto;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.one {
    width: 100%;
    height: 80px;
    margin-bottom: 2%;
}

.two {
    height: 100%;
    width: 400px;
    flex-basis: 45%;
    min-height: 500px;
}

.three {
    min-height: 500px;
    width: 500px;
    flex-basis: 52%;
    height: 100%;
}

.block {
    border: solid;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    width: 400px;
}

button {
    padding: 3%;
    width: 110px;
}

.result {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
}

.result {
    margin-bottom: 10px;
}

.button {
    border: solid;
    width: 100px;
    margin-bottom: 20px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}